@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --primary-color: #161618;
  --second-color-A: #2e2c28;
  --second-color-B: #010109;
  --text-color-dark: #97928c;
  --text-color-light: #ffffff;

  /* sizes */
  --header-heigth: 64px;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color-light)
}

div {
  background-color: var(--second-color-A);
}

header {
  height: var(--header-heigth);
  background-color: var(--second-color-A);
}

footer {
  background-color: var(--second-color-B);
  color: var(--text-color-dark);
}

.main_wrapper {
  min-height: calc(100vh - var(--header-heigth));
}

.header-element {
  display: flex;
  align-items: center;
  justify-content: center;
}